#banner{
    position: absolute;
    display: block;
    width: 100%;
    height: 80%;
}
#img-goals{
    width: 90vh;
}
.nav-collapsed{
    color: white;
    font-size: 25px;
    margin-top: 25px
}
#login-collapsed{
    position: absolute;
    bottom: 140px;
    margin: 0;
}
#btn-start-collapsed{
    position: absolute;
    bottom: 50px;
    margin: 0;
}
#git-push-border{
    border: 1px solid rgb(221,221,221);
    color: rgb(34,127,126);
    border-radius: 4px;
    padding: 2px 5px;
}
.btn-primary{
    font-size: 1rem;
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
    color: white;
/*    border-radius: 5px;*/
    background-color: rgb(91,195,153);
    border: none;
    padding:15px;
}
.btn-primary:hover{
    background-color: rgb(67,183,136);
}
.btn-secondary{
    color: white;
    background-color: rgb(34,127,126);
}
.btn-secondary:hover{
    background-color: rgb(29,99,98);
}
.font-primary{
    color: rgb(42,42,42);
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
}
.font-secondary{
    color: rgb(70,70,70);
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
}
.btn-article{
    border: 2px solid;
    color: rgb(91,195,153);
    border-color: rgb(91,195,153);
    background-color: transparent;
    border-radius: 5px;
}
.btn-article:hover{
    background-color: rgb(91,195,153);
    color: white;
}

h5{

}

p{

}

.bg-gray{
    background-color: rgb(247,247,247);
}

.point{
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
}

@media (min-width: 1200px){
    #nav-button{
        visibility: hidden;
    }
}
@media (max-width: 1200px){
        #nav-bar{
        visibility: hidden;
    }
}

@media (min-width: 1170px) {
 .img-div{
  top: 150px;
  left: -100px;
  position: absolute;
} }

.img-div{
  margin-bottom: 30px;
  position: relative;
  z-index: 100;
  text-align: center;
}

.circle-img{
  height: 500px;
  width: 500px;
}

/* Brazill's section */

/* End of Brazill's section */


/* Carlo's section */

/* End of Carlo's section */


/* Sara's section */

@media (min-width: 1025px) {
 .img-div{
   position: absolute;
   top: 180px;
   left: -100px;
} }


@media (min-width: 1170px) {
.sd-p {
    padding: 40px 45px 60px 45px;
  }
}

@media (min-width: 770px) {
.sd-m {
    margin-left: 8.333333333333332%;
  }
}

@media (min-width: 770px) {
.sd-w {
    width: 83.33333333333334%;
  }
}

@media (min-width: 770px) {
.sd-section {
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  }
}

.sdm-diagram {
    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;
}

.sd-h5 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.command-interface {
    margin-bottom: 60px;
}

@media (min-width: 1170px) {
 .chatops {
    margin-bottom: 80px;
    margin-left: 250px;
  }
}

@media (min-width: 1170px) {
 .event-hub {
    margin-bottom: 80px;
    margin-left: 300px;
  }
}

@media (min-width: 1170px) {
 .cortex {
    margin-bottom: 40px;
    margin-left: 250px;
  }
}

.integration {
  margin-bottom: 0;
}

.bg-blue{
  background-color: #007BBD;
}

.bg-teal{
  background-color: #5BBCC3;
}

.bg-green{
  background-color: #C6DD72;
}

.bg-darkgreen {
  background-color: #227F7E;
}

.bg-darkblue {
  background-color: #1B2937;
}

.sd-content {
  color: #717274;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}

/* End of Sara's section */
