/* Brazill's section */
#banner{
    position: absolute;
    display: block;
    width: 100%;
    height: 80%;
    z-index: -50;
}
#atomist-logo{
    left:0;
    width: 200px;
}
#nav-bar{
   color:white;
   bottom:10px; 
}
.nav-items{
    color:inherit;
}
#img-goals{
    width: 90vh;
}
#nav-button-holder{
   font-size:30px;
   color:white;
   width:100%;
   z-index:50;
}
#get-started-top{
    box-shadow:0 5px 15px rgba(0,0,0,.3); 
}
#nav-side{
    width: 100%;
    height:100vh;
    z-index:20;
    visibility: collapse;
}
.nav-collapsed{
    color: white;
    font-size: 25px;
    margin-top: 25px
}
#banner-collapsed{
    position:absolute;
    z-index:-10;
    left:-1500px;
}
#logo-collapsed{
    width: 110px;
}
#login-collapsed{
    position: absolute;
    bottom: 140px;
    margin: 0;
}
#btn-start-collapsed{
    position: absolute;
    bottom: 50px;
    margin: 0;
}
#intro-ssd{
    font-size:60px;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
}
#intro-unleash{
    font-size:38px;
    color:white;
}
#git-push-border{
    border: 1px solid rgb(221,221,221);
    color: rgb(34,127,126);
    border-radius: 4px;
    padding: 2px 5px;
}

@media (min-width: 1200px){
    #nav-button{
        visibility: hidden;
    }
}
@media (max-width: 1200px){
        #nav-bar{
        visibility: hidden;
    }
}

/* Pricing Page */

#title-pricing{
    font-size:55px;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.plan-box{
    height: 400px;
    padding-bottom: 100px;
    /* border-radius: 10px; */
    overflow: hidden;
}
.pb-top{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.pb-bottom{
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
.btn-plan{
    margin-top: 75px;
}
.plan-label{
    font-size: 25px;
}
.plan-price{
    font-size: 35px;
}
.font-dark-gray{
    color: rgb(158,158,167);
}
.dollar-sign{
    font-size: 18px;
    position: relative;
    bottom: 10px;
}

/* End of Brazill's section */

/* General Styling */

.btn-primary{
    font-size: 1rem;
    color: white;
/*    border-radius: 5px;*/
    background-color: rgb(91,195,153);
    border: none;
    padding:15px;
}
.btn-primary:hover{
    background-color: rgb(67,183,136);
}
.btn-secondary{
    color: white;
    background-color: rgb(34,127,126);
}
.btn-secondary:hover{
    background-color: rgb(29,99,98);
}
.font-primary{
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
}
.font-secondary{
    color: rgb(70,70,70);
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
}
.btn-article{
    border: 2px solid;
    color: rgb(91,195,153);
    border-color: rgb(91,195,153);
    background-color: transparent;
    border-radius: 5px;
}
.btn-article:hover{
    background-color: rgb(91,195,153);
    color: white;
}

body{
  font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;  
}

h5{

}

p{

}

.bg-gray{
    background-color: rgb(247,247,247);
}
.bg-dark-gray{
    background-color: rgb(232,232,232);
}
.bg-white{
    background-color: white;
}

.point-blue{
  border-radius: 10px;
  background-color: #007BBD;
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
}

@media (min-width: 1170px) {
 .img-div{
  top: 150px;
  left: -100px;
  position: absolute;
} }

.img-div{
  z-index: 100;
}

.circle-img{
  height: 500px;
  width: 500px;
}



/* Carlo's section */

/* End of Carlo's section */


/* Sara's section */

/* End of Sara's section */
