/* Brazill's section */
#banner{
    position: absolute;
    display: block;
    width: 100%;
    height: 80%;
    z-index: -50;
}
#atomist-logo{
    left:0;
    width: 200px;
}
#nav-bar{
   color:white;
   bottom:10px;
}
.nav-items{
    color:inherit;
}
#img-goals{
    width: 90vh;
}
#nav-button-holder{
   font-size:30px;
   color:white;
   width:100%;
   z-index:50;
}
#get-started-top{
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}
#nav-side{
    width: 100%;
    height:100vh;
    z-index:20;
    visibility: collapse;
}
.nav-collapsed{
    color: white;
    font-size: 25px;
    margin-top: 25px
}
#banner-collapsed{
    position:absolute;
    z-index:-10;
    left:-1500px;
}
#logo-collapsed{
    width: 110px;
}
#login-collapsed{
    position: absolute;
    bottom: 140px;
    margin: 0;
}
#btn-start-collapsed{
    position: absolute;
    bottom: 50px;
    margin: 0;
}
#intro-ssd{
    font-size:60px;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
}
#intro-unleash{
    font-size:38px;
    color:white;
}
#git-push-border{
    border: 1px solid rgb(221,221,221);
    color: rgb(34,127,126);
    border-radius: 4px;
    padding: 2px 5px;
}

@media (min-width: 1200px){
    #nav-button{
        visibility: hidden;
    }
}
@media (max-width: 1200px){
        #nav-bar{
        visibility: hidden;
    }
}

/* Pricing Page */

#title-pricing{
    font-size:55px;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.plan-box{
    height: 400px;
    padding-bottom: 100px;
    /* border-radius: 10px; */
    overflow: hidden;
    max-height: 380px;
}
.pb-top{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.pb-bottom{
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
/* .btn-plan{
    margin-top: 75px;
} */
.btn-plan{
    position: relative;
    bottom: 20px;
}
.plan-label{
    font-size: 25px;
}
.plan-price{
    font-size: 35px;
}
.font-dark-gray{
    color: rgb(158,158,167);
}
.dollar-sign{
    font-size: 18px;
    position: relative;
    bottom: 10px;
}

/* End of Brazill's section */

/* General Styling */

.btn-primary{
    font-size: 1rem;
    color: white;
/*    border-radius: 5px;*/
    background-color: rgb(91,195,153);
    border: none;
    padding:15px;
}
.btn-primary:hover{
    background-color: rgb(67,183,136);
}
.btn-secondary{
    color: white;
    background-color: rgb(34,127,126);
}
.btn-secondary:hover{
    background-color: rgb(29,99,98);
}
.font-primary{
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
}
.font-secondary{
    color: rgb(70,70,70);
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
}
.btn-article{
    border: 2px solid;
    color: rgb(91,195,153);
    border-color: rgb(91,195,153);
    background-color: transparent;
    border-radius: 5px;
}
.btn-article:hover{
    background-color: rgb(91,195,153);
    color: white;
    border-color:  rgb(91,195,153);
}

body{
  font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
}

h5{

}

p{

}

.bg-gray{
    background-color: rgb(247,247,247);
}
.bg-dark-gray{
    background-color: rgb(232,232,232);
}
.bg-white{
    background-color: white;
}

.point{
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
}

@media (min-width: 1200px){
    #nav-button{
        visibility: hidden;
    }
}
@media (max-width: 1200px){
        #nav-bar{
        visibility: hidden;
    }
}

@media (min-width: 1170px) {
 .img-div{
  top: 150px;
  left: -100px;
  position: absolute;
} }

.img-div{
  margin-bottom: 30px;
  position: relative;
  z-index: 100;
  text-align: center;
}

.circle-img{
  height: 500px;
  width: 500px;
}



/* Carlo's section */
#intro {
  height: 60vh;
  color: white;
}

#intro h1 {
  font-size: 300%;
}

#intro p {
  line-height: 1.5em;
  font-size: 160%;
}

#ready-to-try {
  background-image: url(../assets/CTA-banner-texture.jpg);
  color: white;
}

#footer nav ul li a, #footer {
  color: gray;
}

#footer i {
  color: rgb(34,127,126);
}

#footer, #dev-workspace {
  background-color: rgb(250,250,250);
}

#intro > div.col, #dev-atomist-cli > div.col, #dev-workspace > div.col, #dev-delivery > div.col, #footer > div.col {
  max-width: 85%;
  margin: 0 auto;
}

pre {
  background-color: rgb(13, 11, 26);
  color: rgb(220,220,220);
  padding: 20px;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2em;
  white-space: normal;
}

pre .dollar {
  color: green;
}

code {
  border: 1px solid silver;
  border-radius: 5px;
  color: green;
  padding: 2px 5px;
  font-family: 'Courier New', Courier, monospace;
}

.link {
  border: 1px solid silver;
  padding: 10px 20px;
}

.link a {
  display: inline;
  color: rgb(55, 185, 146);
  padding: 0;
}

#contact-button {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(91,195,153);
  border: none;
  color: white;
  border-radius: 50%;
}

#contact-interface {
  width: 370px;
  padding: 0;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 5px 5px 5px gray;
  visibility: hidden;
}

#salute {
  background-color: rgb(91,195,153);
  color: white;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 20px;
  z-index: -1;
  height: 210px;
  margin-bottom: 240px;
}

#contact-interface .body {
  margin-top: 130px;
}

#contact-interface .int-section {
  background-color: white;
  padding: 30px;
  margin: 20px auto;
  color: gray;
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: 3px 3px 5px silver;
  width: 90%;
  border-top: 1px solid rgb(91,195,153);
}

#contact-interface #salute img {
  width: 30px;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  margin-right: -10px;
  display: inline;
  border: 1px solid white;
  margin-bottom: 10px;
}

#contact-interface button {
  width: 100%;
  background-color: rgb(91,195,153);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

#contact-interface h5, #contact-interface h6{
  color: black;
  font-weight: normal;
}

#contact-interface h5 {
  font-size: 120%;
}

#contact-interface h6 {
  font-size: 100%;
}

#contact-interface .input-group-append {
  cursor: pointer;
}

#contact-interface span.input-group-text {
  color: white;
  background-color: rgb(91,195,153);
}

#contact-interface input{
  font-size: 100%;
}

.carousel-caption h5 {
  color: black;
}
/* End of Carlo's section */


/* Sara's section */

@media (min-width: 1025px) {
 .img-div{
   position: absolute;
   top: 180px;
   left: -100px;
} }


@media (min-width: 1170px) {
.sd-p {
    padding: 40px 45px 60px 45px;
  }
}

@media (min-width: 770px) {
.sd-m {
    margin-left: 8.333333333333332%;
  }
}

@media (min-width: 770px) {
.sd-w {
    width: 83.33333333333334%;
  }
}

@media (min-width: 770px) {
.sd-section {
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  }
}

.sdm-diagram {
    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;
}

.sd-h5 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.command-interface {
    margin-bottom: 60px;
}

@media (min-width: 1170px) {
 .chatops {
    margin-bottom: 80px;
    margin-left: 250px;
  }
}

@media (min-width: 1170px) {
 .event-hub {
    margin-bottom: 80px;
    margin-left: 300px;
  }
}

@media (min-width: 1170px) {
 .cortex {
    margin-bottom: 40px;
    margin-left: 250px;
  }
}

.integration {
  margin-bottom: 0;
}

.bg-blue{
  background-color: #007BBD;
}

.bg-teal{
  background-color: #5BBCC3;
}

.bg-green{
  background-color: #C6DD72;
}

.bg-darkgreen {
  background-color: #227F7E;
}

.bg-darkblue {
  background-color: #1B2937;
}

.sd-content {
  color: #717274;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.carousel-pleft {
  margin-left: 150px;
}

/* End of Sara's section */
